@layer tokens.semantics {
    :root {
        --bg-primary: var(--blue-950);
        --fc-primary: var(--blue-500);

        --bg-card: var(--blue-900);
        --bg-border-avatar: var(--white);

        --fc-card-title: var(--white);
        --fc-card-price: var(--cyan-400);
        --fc-card-creator: var(--white);

        --fc-card-title-hover: var(--cyan-400);
        --fc-creator-name-hover: var(--cyan-400);

        --bg-eye-icon: var(--white);

        --bg-border-card: var(--blue-800);
    }
}