@layer tokens.primitives {
    :root {
        --white: hsl(0, 100%, 100%);
        --black: hsl(0, 0%, 0%);
        --blue-950: hsl(217, 54%, 11%);
        --blue-900: hsl(216, 50%, 16%);
        --blue-800: hsl(215, 32%, 27%);
        --blue-500: hsl(215, 51%, 70%);
        --cyan-400: hsl(178, 100%, 50%);
    }
}